.custom-resume-btn {
  background-color: #01579b; 
  color: white;
  font-weight: bold;
  border: none;
  transition: background-color 0.3s ease;
}

.custom-resume-btn:hover {
  background-color: #0277bd; 
}
